<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Danh gia san pham</title>
    {% include "meta-data.html" %}
  </head>
  <body>
    <div>
      <img src={{product.product_main_image}} alt="">
      <p>{{product.product_name}}</p>
    </div>

    <h3>Tieu chi danh gia</h3>
    <div>
    <form method="post">
      <label>Thiet ke</label>
      {% include "detail/design.html" %}

      <br>
      <label>Man hinh</label>
      {% include "detail/screen.html" %}

      <br>
      <label>Tinh nang</label>
      {% include "detail/function.html" %}

      <br>
      <label>Trai Nghiem</label>
      {% include "detail/exp.html" %}

      <br>
      <label>Camera</label>
      {% include "detail/camera.html" %}

      <br>
      <label>Pin</label>
      {% include "detail/pin.html" %}

      <br>
      <label>Comment</label>
      <input type="text" name="comment">
      <br>
      <input type="submit" name="" value="Submit" required>
    </form>
    </div>
    <div>
      <h2>{{average}}</h2>
    </div>
  </body>
</html>
