<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Danh gia san pham</title>
    {% include "meta-data.html" %}
  </head>
  <body>
    <div>
      <img src={{product.product_main_image}} alt="">
      <p>{{product.product_name}}</p>
    </div>

    <h3 class="text-center">Tiêu chí đánh giá</h3>

    <form method="post">
      <div class="container">
        <div class="row">
          <label class="width-100px col font-s-l">Thiết kế
          <div><i class="fas fa-mobile fa-3x"></i></div></label>
          {% include "detail/design.html" %}

          <br>
          <label class="width-100px col font-s-l">Màn hình
          <div><i class="fas fa-mobile-alt fa-3x"></i></div></label>
          {% include "detail/screen.html" %}

          <br>
          <label class="width-100px col font-s-l">Tính năng
          <div><i class="fas fa-cogs fa-3x"></i></div></label>
          {% include "detail/function.html" %}

          <br>
          <label class="width-100px col font-s-l">Trải nghiệm
          <div><i class="fas fa-smile fa-3x"></i></div></label>
          {% include "detail/exp.html" %}

          <br>
          <label class="width-100px col font-s-l">Camera
          <div><i class="fas fa-camera fa-3x"></i></div></label>
          {% include "detail/camera.html" %}

          <br>
          <label class="width-100px col font-s-l">Pin
          <div><i class="fas fa-battery-three-quarters fa-3x"></i></div></label>
          {% include "detail/pin.html" %}
          <div class="w-100"></div>
          <br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Nhận xét</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"></textarea>
          </div>
          <div class="w-100"></div>
          <br>
          <input type="submit" name="" value="Submit" required>
        </div>
      </div>
    </form>

    <div>
      <h2>{{average}}</h2>
    </div>
  </body>
</html>
