<!DOCTYPE html>
<html>
  <head>
    <style>
body {background-color: powderblue;}
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>
    <!-- <style>
body {background-color: powderblue;}
h1   {color: blue;font-family:verdana;}
p    {color: red;}
table, th, td {
    font-family:verdana;
    border: 3px solid black;
    border-collapse: collapse;
}
</style> -->
    <meta charset="utf-8">
    <title>Mùa hè không nóng</title>
  </head>
  <body>
    <h1 align = "center">Admin page</h1>
    <table style="width:50%;background-color:White;" align = "center" id = "Table1">
  <thead>
    <th>STT</th>
    <th onclick="sortTable(1)">Name</th>
    <th>Year of birth</th>
    <th onclick="sortTable(3)">Gender</th>
    <th>Phone number</th>
    <th>Contacted</th>
    <th></th>
  </thead>
   <tbody>
     {% for service in services %}
     <!-- tr*2>td*6 xong bấm tab -->
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ service.name }}</td>
      <td>{{ service.yob }}</td>
      <td>
        {{ "Female" if service.gender == 0 else "Male" }}
        <!-- {% if service.gender == 0 %}
          Female
        {% else %}
          Male
        {% endif %} -->
      </td>
      <td>{{ service.phone }}</td>
      <td>
        {{ "Free" if service.status == False else "Busy" }}
        <!-- {% if service.status == False %}
          Free
        {% else %}
          Busy
        {% endif %} -->
      </td>
      <td>
        <a href="{{ url_for('modify', service_id = service.id) }}">Modify</a>
        <a href="{{ url_for('delete', service_id = service.id) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
 </tbody>
</table>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("Table1");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

  </body>
</html>
