<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  </head>
  <body>
    <h1>Create new service</h1>
    <form method='post'>
      <label>Name</label> <br>
      <input type="text" name = "name" ><br>
      <label>Year of birth?</label><br>
      <input type="text" name = "yob" ><br>
      <label>Phone number</label><br>
      <input type="text" name = "phone" ><br>
      <label>Height</label><br>
      <input type="text" name = "height" ><br>
      <!-- <label>Measurements</label><br>
      <input type="text" name = "measurements" ><br> -->
      <label>Address</label><br>
      <input type="text" name = "address" ><br>
      <input type="radio" name="gender" value="1" checked> Male<br>
      <input type="radio" name="gender" value="0" > Female<br>
      <label>Description</label><br>
      <input type="text" name = "description" ><br>
      <input type="Submit" value="Submit">
      <input type="reset">
    </form>
  </body>
</html>
