/* .inline-block {
  display: inline;
} */

.flex {
  display: flex;
  padding: 10px;
  /* mặc định flex-flow là row wrap */
  flex-flow: row wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  justify-content: flex-start;
  /* align-items xếp content theo chiều dọc, justify-content xếp content theo chiều ngang. */
}

.width-30-percent {
  width: 500px;
}
