<link rel="stylesheet" href="../static/style2.css">

<div class="header-w3l background pt-5">
  <h1 class="my-5>">So sánh hai sản phẩm</h1>
</div>
<!--//header-->

<!--main-->
<div class="main-content-agile">
<div class="sub-main-w3 text-light mt-5 font-weight-bold mb-5">Nhập tên các sản phẩm
  <form method="post">
    <h2 class="text-light mb-3"></h2>
        <input placeholder="eg: Samsung Galaxy S9,..." name="Name" class="user" type="text" required=""><br>

    <h2 class="text-light"></h2>
        <input placeholder="eg: Iphone X,..." name="Password" class="pass" type="text" required=""><br>


    <button type="submit" class="btn btn-danger mb-5 mt-5<btn-lg></btn-lg>">COMPARE</button>
  </form>
</div>
</div>
