<div class="h-w-500px text-color">
  <h1 class="title1">Điện thoại tiêu biểu</h1>
  <div class="d-flex justify-content-around mt-30px">
    
    <div class="card" style="width: 250px;">
      <img class="card-img-top" src="https://via.placeholder.com/250x180">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 250px;">
      <img class="card-img-top" src="https://via.placeholder.com/250x180">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 250px;">
      <img class="card-img-top" src="https://via.placeholder.com/250x180">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 250px;">
      <img class="card-img-top" src="https://via.placeholder.com/250x180">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <div class="d-flex button">
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</div>
